#define ACCTABLE						300
#define ACC_FILE_OPEN					301
#define ACC_FILE_CLOSE					302
#define ACC_FILE_NEW					303
#define ACC_FILE_SAVE					304
#define ACC_FILE_SAVEAS					305
#define ACC_EDIT_COPY_ITEM				306
#define ACC_EDIT_COPY_BRANCH			307
#define ACC_EDIT_PASTE_ITEM				308
#define ACC_EDIT_PASTE_BRANCH			309
#define ACC_EDIT_ADD_ITEM				310
#define ACC_EDIT_FIND					311
#define ACC_OPTIONS_CASESEARCH			312
#define ACC_ADD_ITEM_STRING				331
#define ACC_ADD_ITEM_NUMBER				332
#define ACC_ADD_ITEM_TRUE				333
#define ACC_ADD_ITEM_FALSE				334
#define ACC_ADD_ITEM_ARRAY				335
#define ACC_ADD_ITEM_OBJECT				336
#define ACC_COLLAPSE_ALL				350
#define ACC_EXPAND_ALL					351
#define ACC_EXPORT_TREECLIP				360
#define ACC_EXPORT_BRANCHCLIP			361
#define ACC_EXPORT_TREEFILE				362
#define ACC_EXPORT_BRANCHFILE			363
ACCTABLE ACCELERATORS DISCARDABLE
BEGIN
  79,ACC_FILE_OPEN,VIRTKEY,NOINVERT,CONTROL
  115,ACC_FILE_CLOSE,VIRTKEY,NOINVERT,CONTROL
  78,ACC_FILE_NEW,VIRTKEY,NOINVERT,CONTROL
  83,ACC_FILE_SAVE,VIRTKEY,NOINVERT,CONTROL
  65,ACC_FILE_SAVEAS,VIRTKEY,NOINVERT,CONTROL
  73,ACC_EDIT_COPY_ITEM,VIRTKEY,NOINVERT,CONTROL
  89,ACC_EDIT_COPY_BRANCH,VIRTKEY,NOINVERT,CONTROL
  79,ACC_EDIT_PASTE_ITEM,VIRTKEY,NOINVERT,CONTROL
  80,ACC_EDIT_PASTE_BRANCH,VIRTKEY,NOINVERT,CONTROL
  39,ACC_EDIT_ADD_ITEM,VIRTKEY,NOINVERT,CONTROL
  70,ACC_EDIT_FIND,VIRTKEY,NOINVERT,CONTROL
  81,ACC_OPTIONS_CASESEARCH,VIRTKEY,NOINVERT,CONTROL
  49,ACC_ADD_ITEM_STRING,VIRTKEY,NOINVERT,CONTROL
  50,ACC_ADD_ITEM_NUMBER,VIRTKEY,NOINVERT,CONTROL
  51,ACC_ADD_ITEM_TRUE,VIRTKEY,NOINVERT,CONTROL
  52,ACC_ADD_ITEM_FALSE,VIRTKEY,NOINVERT,CONTROL
  53,ACC_ADD_ITEM_ARRAY,VIRTKEY,NOINVERT,CONTROL
  54,ACC_ADD_ITEM_OBJECT,VIRTKEY,NOINVERT,CONTROL
  33,ACC_COLLAPSE_ALL,VIRTKEY,NOINVERT,CONTROL
  34,ACC_EXPAND_ALL,VIRTKEY,NOINVERT,CONTROL
  86,ACC_EXPORT_TREECLIP,VIRTKEY,NOINVERT,SHIFT,CONTROL
  88,ACC_EXPORT_BRANCHCLIP,VIRTKEY,NOINVERT,SHIFT,CONTROL
  83,ACC_EXPORT_TREEFILE,VIRTKEY,NOINVERT,SHIFT,CONTROL
  65,ACC_EXPORT_BRANCHFILE,VIRTKEY,NOINVERT,SHIFT,CONTROL
END
